// app.scss

// Define desired color palettes.
$primary: "teal";
$accent: "pink";
$warn: "pink";

// If desired, import the palettes and modify to your liking.
@import "color-palette";
$color-teal: map-merge($color-teal, ('contrast':  $light-contrast-color));
$color-light-green: map-merge($color-light-green, ('contrast':  $light-contrast-color));

// Import the rest of ember-paper.
@import "ember-paper";

// Import or define the rest of your application's styles.

.selected md-grid-tile img {
  border: #000 0.1em solid;
  transform: scale(1.2);
  box-shadow: 0.4em 0.4em 2em #000;
  transition: all 0.3s ease-in-out;
}
