{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    <h1 class="flex-40">Katy's "tap the pairs"</h1>
    {{paper-progress-linear accent=true value=progress}}
    <span>&nbsp;&nbsp;&nbsp;{{progress}}%</span>
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}

{{#paper-content}}
  {{#paper-grid-list md-cols-xs=1 md-cols-sm=2 md-cols-md=4 md-cols-lg=6 md-cols-xl=10 md-row-height="1:1"}}
    {{#each tilesShuffled as |tile|}}
      {{katy-tile tile=tile deleted=deleted selected=selected clicked=(action "tileClicked")}}
    {{/each}}
  {{/paper-grid-list}}
{{/paper-content}}
