<div class="layout-column example introduction-example">
  <div class="flex-33 flex-md-{{box1Height}} box-one"></div>
  <div class="flex-33 layout-{{direction}} layout-md-row box-two">
    <div class="flex-20 flex-md-10 hide-lg box-two-one">a</div>
    <div class="flex-30 {{if hideBox "hide-md"}} flex-md-25 box-two-two">d</div>
    <div class="flex-20 flex-md-65 box-two-three">f</div>
  </div>
  <div class="flex box-three">r</div>
</div>
